.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    line-height: 16px;
    color: #3563E9;
    border-bottom: 1px solid #D4D4D4;
    height: 50px;
    width: 530px;
}

.cont {
    height: 60px;
    border-radius: 24px;
    border: 2px solid #3563E9;
    position: relative;
}

.radio {
    width: 24px;
    height: 24px;
    background-color: #3563E9;
    margin-right: 10px;
}

.line {
    height: 1px;
    width: 85%;
    background-color: #D4D4D4;
}

.next {
    background-image: linear-gradient(to bottom, #1572D3, #0B3B6D);
    width: 100px;
    height: 48px;
    padding: 16px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 10px;
}

.prev {
    background-image: white;
    width: 100px;
    height: 48px;
    padding: 16px;
    border-radius: 15px;
    color: #3563E9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3563E9;
    margin-top: 10px;
    font-weight: bold;
}


.text {
    font-size: 18px;
    font-weight: 400;
    color: #16222A;
    height: 18px;
    margin-top: 5px;
}

.select,.select:focus {
    height: 60px;
    width: 100%;
    border-radius: 24px;
    padding-left: 10px;
    border: 1px solid #D4D4D4;
    background-color: transparent;
}